<footer class="site-footer h-card">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <div class="wrapper">

        <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>Email: <a target="_blank" href="mailto:{{ site.email }}">{{site.email}}</a></li>
                    <li>ORCiD: <a target="_blank" href="https://orcid.org/{{ site.orcid }}">{{site.orcid}}</a></li>
                    <li>LinkedIn: <a target="_blank"
                            href="https://www.linkedin.com/in/{{ site.linkedin_username }}">{{site.linkedin_username}}</a>
                    </li>
                    <li>GitHub: <a target="_blank"
                            href="https://github.com/{{ site.github_username }}">{{site.github_username}}</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
            </div>

            <!-- <div class="footer-col footer-col-3"> -->
            <!-- <p>{{- site.description | escape -}}</p> -->
            <!-- </div> -->
        </div>

    </div>

</footer>