<footer class="site-footer">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>

    <div class="wrapper">

        <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>Email: m DOT goertz @berkeley.edu</li>
                    <li>arXiv: <a target="_blank" href="https://arxiv.org/a/goertz_m_1.html">goertz_m_1</a></li>
                    <li>ORCiD: <a target="_blank" href="https://orcid.org/{{ site.orcid }}">{{site.orcid}}</a></li>
                    <li>LinkedIn: <a target="_blank"
                            href="https://www.linkedin.com/in/{{ site.linkedin_username }}">{{site.linkedin_username}}</a>
                    </li>
                    <li>GitHub: <a target="_blank"
                            href="https://github.com/{{ site.github_username }}">{{site.github_username}}</a></li>
                    <li>Google Scholar: <a target="_blank"
                            href="https://scholar.google.com/citations?user={{  site.googlescholar_id}}">Click here</a>
                    </li>
                    <li>Research Gate: <a target="_blank"
                            href="https://www.researchgate.net/profile/{{ site.researchgate_username }}">{{site.researchgate_username}}</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
            </div>

            <!-- <div class="footer-col footer-col-3"> -->
            <!-- <p>{{- site.description | escape -}}</p> -->
            <!-- </div> -->
        </div>

    </div>

</footer>